* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}

#avatar {
    width: 200px;
    height: 200px;
    background-image: url("../assets/avatar.jpg");
    background-size: 100% 100%;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 3px #808080;
    margin: 200px auto;
}