* {
    margin: 0;
    padding: 0;
}

html {
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
    width: 100%;
    height: 100%;
}

#avatar {
    width: 200px;
    height: 200px;
    background-image: url("../assets/avatar.jpg");
    background-size: 100% 100%;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 3px #808080;
    margin: 200px auto;
}